*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}

:root { // basically html selector, but with higher specificity
    --color-primary: #eb2f64;
    --color-primary-light:#FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), $color-primary-dark);
    background-repeat: no-repeat;
    min-height: 100vh; //REMOVE SOON
    color: var(--color-grey-dark-2);
}